body{
  background:#0f0f0f;
  color:#eaeaea;
  font-family:Segoe UI;
  padding:20px;
}
textarea{
  width:100%;
  height:180px;
  background:#111;
  border:1px solid #333;
  color:#0f0;
  padding:10px;
  border-radius:8px;
  font-family:monospace;
}
button{
  padding:8px 14px;
  border:0;
  border-radius:6px;
  background:#0a0;
  color:#fff;
  font-weight:bold;
  margin:4px;
  cursor:pointer;
}
button:hover{
  background:#0f0;
  color:#000;
}
#result{
  white-space:pre-wrap;
  background:#111;
  border:1px solid #0f0;
  padding:10px;
  border-radius:8px;
  margin-top:10px;
  min-height:100px;
}
